
body {
  max-width: 1050px;
  margin: auto;
  padding: 40px 40px 10px 40px;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .header-logo {
    display: flex;
    margin-right: 150px;
    margin-bottom: 20px;
  }

    .header-logo-yellow-square {
      width: 22px;
      height: 36px;
      border: solid #fbd42c 5px;
    }

    .header-logo-name {
      padding: 6px 10px 3px 10px;
      font-family: "Myriad Pro Regular", "Arial", sans-serif;
      font-size: 22px;
      line-height: 0.9;
    }

  .header-search {
    display: flex;
    height: 26px;
    border: solid 1px #e8e8e8;
    border-radius: 3px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

    .header-search-magnifier {
      position: relative;
      width: 22px;
      height: 22px;
    }

      .header-search-magnifier-figure1 {
        position: absolute; top: 2px; left: 0;
        width: 13px;
        height: 13px;
        border: solid 2px #e8e8e8;
        border-radius: 50%;
      }

      .header-search-magnifier-figure2 {
        position: absolute; top: 3.5px; left: 2.7px;
        width: 10px;
        height: 10px;
        border-left: solid 2px #e8e8e8;
        border-bottom: solid 2px #e8e8e8;
        border-radius: 50%;
        opacity: 0.65;
      }

      .header-search-magnifier-figure3 {
        position: absolute; top: 17.5px; left: 11px;
        width: 8px;
        border: solid 2px #e8e8e8;
        transform: rotate(45deg);
      }

    .header-search-field {}

      .header-search-field-form {
        display: flex;
      }

        .header-search-field-form input[type="search"] {
          max-width: 500px;
          margin: 5px 10px;
          border: none;
          font-family: "Myriad Pro Regular", "Arial", sans-serif;
          color: #999999;
          font-size: 15px;
        }

        .header-search-field-form-border {
          border-left: solid 1px #e8e8e8;
          border-right: solid 1px #e8e8e8;
        }

          .header-search-field-form-border-categories {
            margin: 5px 10px;
            border: none;
            font-family: "Myriad Pro Regular", "Arial", sans-serif;
            color: #999999;
            font-size: 15px;
          }

        .header-search-field-form input[type="submit"] {
          width: 22px;
          height: 22px;
          border: none;
          margin: 3px 0 2px 10px;
          background-image: url("../image/header/submit.jpg"); /*svg в chrome не отображался*/
        }

  .header-authorization {
    display: flex;
    height: 46px;
    border: solid 1px #e8e8e8;
    border-radius: 3px;
    font-family: "Myriad Pro Regular", "Arial", sans-serif;
    color: #999999;
    font-size: 14px;
  }

    .header-authorization-singup, .header-authorization-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      width: 80px;
    }

    .header-authorization-border {
      margin: 10px 0;
      border-right: solid 1px #e8e8e8;
    }

      .header-authorization-singup-logo {
        background-image: url("../image/header/singup.jpg");
        width: 16px;
        height: 16px;
    }

      .header-authorization-login-logo {
        background-image: url("../image/header/login.jpg");
        width: 16px;
        height: 16px;
    }

nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

  .nav-common {
    width: 118px;
    height: 80px;
  }

    .nav-common-logo {
      height: 25px;
      display: flex;
    }

      .nav-common-logo-border {
          width: 41.5px;
          height: 5px;
          margin-top: 10px;
          background-color: #777777;
      }

      .nav-common-logo-image {
        width: 25px;
        height: 25px;
        background-color: #ffffff;
        background-repeat: no-repeat;
        margin: 0 5px;
      }

      .nav-home-logo-image {
        background-image: url("../image/nav/home-grey.jpg");
      }

      .nav-home-logo-image:hover {
        background-image: url("../image/nav/home-yellow.jpg");
      }

      .nav-photography-logo-image {
        background-image: url("../image/nav/photography-grey.jpg");
      }

      .nav-photography-logo-image:hover {
        background-image: url("../image/nav/photography-yellow.jpg");
      }

      .nav-video-logo-image {
        background-image: url("../image/nav/video-grey.jpg");
      }

      .nav-video-logo-image:hover {
        background-image: url("../image/nav/video-yellow.jpg");
      }

      .nav-environment-logo-image {
        background-image: url("../image/nav/environment-grey.jpg");
      }

      .nav-environment-logo-image:hover {
        background-image: url("../image/nav/environment-yellow.jpg");
      }

      .nav-travel-logo-image {
        background-image: url("../image/nav/travel-grey.jpg");
      }

      .nav-travel-logo-image:hover {
        background-image: url("../image/nav/travel-yellow.jpg");
      }

      .nav-adventure-logo-image {
        background-image: url("../image/nav/adventure-grey.jpg");
      }

      .nav-adventure-logo-image:hover {
        background-image: url("../image/nav/adventure-yellow.jpg");
      }

      .nav-television-logo-image {
        background-image: url("../image/nav/television-grey.jpg");
      }

      .nav-television-logo-image:hover {
        background-image: url("../image/nav/television-yellow.jpg");
      }

      .nav-kids-logo-image {
        background-image: url("../image/nav/kids-grey.jpg");
      }

      .nav-kids-logo-image:hover {
        background-image: url("../image/nav/kids-yellow.jpg");
      }

    .nav-common-name {
      margin-top: 20px;
      text-align: center;
      font-family: "Myriad Pro Semi Bold";
      color: #555555;
      font-size: 17px;
    }

    .nav-common-name:hover {
      color: #fbd42c;
    }













/**********  **********/
